<ion-header>
  <ion-toolbar>
    <ion-title>Tab 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" (click)="takePicture()">Take a Picture</ion-button>
  <ion-button expand="full" (click)="getLocation()">Get Location</ion-button>
  <ion-button expand="full" (click)="getDeviceInfo()">Get Device Info</ion-button>
  <ion-button expand="full" (click)="checkNetwork()">Check Network</ion-button>
  <ion-button expand="full" (click)="openBrowser()">Open Browser</ion-button>
</ion-content>
